In [1]:
import pandas as pd
import plotly.express as px
import numpy as np
import seaborn as sns

# Build confidence intervals

* Facebook would like to know the average time spent on their site. To do so, they launched a study on 100 people and asked them how much time they spend on Facebook per day:
    1. Open the `Hours spent on Facebook.xlsx` file. 
    2. Calculate the mean and standard deviation of the dataset.
    3. We would like to know the mean of the total population. Calculate the 95% confidence interval.

1. Open the `Hours spent on Facebook.xlsx` file.

In [2]:
df = pd.read_excel("Hours Spent on Facebook.xlsx")
df.head()

   Customer   Hours spent on Facebook on Mobile
0          1                           4.092475
1          2                           7.233371
2          3                           7.455792
3          4                           7.253503
4          5                           2.249682

2. Calculate the mean and standard deviation of the dataset.

In [3]:
def basic_stats(data):
    print(f"Calculating dataset mean :\n\n{data.mean()}")
    print()
    print("----------------")
    print()
    print(f"Calculating dataset standard deviation :\n\n{data.std()}")
    print()
    print("----------------")

    # We can also use .describe() method

    print(f"\nBasic stats :\n {data.describe()}")
    
basic_stats(df)

Calculating dataset mean :

Customer                             51.500000
Hours spent on Facebook on Mobile     4.847316
dtype: float64

----------------

Calculating dataset standard deviation :

Customer                             29.588849
Hours spent on Facebook on Mobile     2.978913
dtype: float64

----------------

Basic stats :
         Customer   Hours spent on Facebook on Mobile
count  102.000000                         102.000000
mean    51.500000                           4.847316
std     29.588849                           2.978913
min      1.000000                           0.034569
25%     26.250000                           2.300628
50%     51.500000                           4.896723
75%     76.750000                           7.529681
max    102.000000                           9.969544

3. We would like to know the mean of the total population. Calculate the 95% confidence interval.

In [4]:
# Confidence interval
# cl = [mu - E, mu + E] # mu = sample mean

# Margin error formula
# E = t * s / sqrt(n)

def confidence_interval(data, col_n):
    
    cl_list = [1.28, 1.96, 3.09]
    
    for cl in cl_list:

        mu = df.iloc[:, col_n].mean()
        t = cl
        s = df.iloc[:,  col_n].std()

        srqt_n = len(data) ** .5

        # Compute the margin of error
        E =  t * s / srqt_n


        cl = [mu - E, mu + E]

        if t == 1.96:
            confidence_level = 95
        elif t == 1.28:
            confidence_level = 80
        elif t == 3.09:
            confidence_level = 99.8


        print(f"We are {confidence_level}% confident that the true mean is bewteen {round(cl[0], 2)} and {round(cl[1], 2)}")
        print("----")

In [5]:
confidence_interval(data=df, col_n=1)

We are 80% confident that the true mean is bewteen 4.47 and 5.22
----
We are 95% confident that the true mean is bewteen 4.27 and 5.43
----
We are 99.8% confident that the true mean is bewteen 3.94 and 5.76
----

___________

* Google would like to know the mean monthly revenue generated per client on their Adwords platform. Due to lack of time, they have launched a questionnaire on only 30 people.  
    1. Open the `monthly_spending_adwords.xlsx` file.
    2. Calculate the mean and standard deviation of the dataset.
    3. We would like to know the mean of the total population. Calculate the 95% confidence interval.

1. Open the `monthly_spending_adwords.xlsx` file.

In [79]:
df = pd.read_excel("Monthly spending on adwords.xlsx")
df.head()

   Monthly spending
0        562.460391
1        382.543660
2        947.684175
3        425.084351
4        546.562302

2. Calculate the mean and standard deviation of the dataset.

In [80]:
basic_stats(df)

Calculating dataset mean :

Monthly spending    491.772858
dtype: float64

----------------

Calculating dataset standard deviation :

Monthly spending    253.962767
dtype: float64

----------------

Basic stats :
        Monthly spending
count         31.000000
mean         491.772858
std          253.962767
min          120.167111
25%          278.149680
50%          481.586651
75%          709.585379
max          950.211726

In [81]:
confidence_interval(data=df, col_n=0)

We are 80% confident that the true mean is bewteen 433.39 and 550.16
----
We are 95% confident that the true mean is bewteen 402.37 and 581.17
----
We are 99.8% confident that the true mean is bewteen 350.83 and 632.72
----